.galaxy--background {
  position: relative;
}

.galaxy--description {
  position: absolute;
  z-index: 1;
  max-width: 50%;
  padding-top: 6rem;
  margin-left: 80px;
}

.galaxy--description__title {
  display: flex;
  flex-direction: column;
  line-height: 60px;
  letter-spacing: -2px;
  color: #FFF;
  margin: 0;
}

.galaxy--description p {
  font-family: 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E2E2E2;
  margin: 22px 0;
}