.team-tab {
    position: relative;
  }
  
  .team-tab--background {
    width: 100%;
    height: 100vh;
  
    & > span {
      height: 100% !important;
    }
  }
  
  .team-tab--description {
    position: absolute;
  }
  
  .team-tab--description__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .team-tab--description__content {
    width: 35%;
  }
  
  @media screen and (max-width: 912px) {
    .team-tab--background {
      width: auto;
      height: auto;
    }
    .team-tab--description__content {
      width: 100%;
    }
  }
  