.faq--content-tabs-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
}

.faq--content-tab {
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq--content-tab-summary {
  h6 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
  }
  p {
    margin-top: 0;
    color: #E2E2E2;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

// faq-content/desktop
.faq--content {
  display: flex;
  gap: 6rem;
  padding: 0 2rem;

  .faq--content-tabs {
    border: none;
  }

  .faq--content-tabs-title {
    @extend .faq--content-tabs-title;
    margin: 0 0 1rem 0;
  }

  .MuiTabs-indicator {
    display: none;
  }

  .faq--content-tabs-tab {
    display: flex;
    align-items: flex-start;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);

    &.Mui-selected {
      color: #FFFFFF;
    }
  }

  .faq--content-tab {
    @extend .faq--content-tab;
    width: 45%;
  }
}

// faq-content/mobile
.faq--content-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .faq--content-mobile-title{
    @extend .faq--content-tabs-title;
    margin: 0;
  }
  .faq--content-mobile-tab {
    @extend .faq--content-tab;
    padding: 0;
  }
  .faq--content-mobile-tab-label {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.5px;
  }
  .faq--content-mobile-tab-summary {
    @extend .faq--content-tab-summary;
    padding-left: 1rem;
  }
}
