.page-bg-img {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;

  & > span {
    height: 100% !important;
    z-index: -1;
  }
}

@media screen and (max-width: 912px) {
  .page-bg-img {
    width: auto;
    height: auto;
    margin-left: auto;

    &--50 {
      width: 50%;
    }
    &--60 {
      width: 60%;
    }
    &--70 {
      width: 70%;
    }
  }
}
