@import './tabs/about/about-tab.scss';
@import './tabs/alexandra/alexandra-tab.scss';
@import './tabs/team/team-tab.scss';

.team {
  padding: 10rem 5rem;
}

.team--tabs {
  border-top: 1px solid #C4C4C4;

  & .MuiTabs-indicator {
    height: 3px;
    top: 0;
    background-color: #FFFFFF;
  }

  .team--tabs__tab {
    max-width: none;
    height: 100px;
    text-transform: none;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -1px;
    color: #FFFFFF;
    flex: 1;
    border-right: 1px solid #C4C4C4;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    &:last-of-type {
      border-right: none;
    }

    &.Mui-selected {
      color: #FFFFFF;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(150px);
    }
  }
}

@media screen and (max-width: 600px) {
  .team {
    padding: 8rem 2rem;
  }

  .team--tabs {
    .team--tabs__tab {
      height: auto;
      font-size: 1rem;
    }
  }
}
