.team-tab-grid-card-back {
  display: none;
  background: linear-gradient(48.78deg, #2D3C67 42.82%, rgba(30, 39, 49, 0) 182.04%);
  border-radius: 25px;
  height: 100%;
  padding: 1rem;

  .team-tab-grid-card-back-role {
    padding-bottom: 1.5rem;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #C4C4C4;

    .team-tab-grid-card-back-role-image {
      width: 60px;
      height: 60px;
    }

    .team-tab-grid-card-role-description {
      p {
        margin: 0;
      }
    }
  }

  .team-tab-grid-card-back-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      margin: 0;
    }
  }

  .team-tab-grid-card-social {
    p {
      margin: 0;
    }
  }
}
