.about-tab {
  position: relative;
}

.about-tab--background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.about-tab--description {
  position: absolute;
  padding: 10rem 5rem;
}

.about-tab--description__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.about-tab--description__content {
  width: 35%;
}

@media screen and (max-width: 912px) {
  .about-tab--background {
    width: auto;
    height: auto;
  }
  .about-tab--description__content {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-tab--description {
    padding: 9rem 2rem;
    padding-bottom: 3rem;
  }
}
