.alexandra-tab--description-actions {
  display: flex;
  gap: 10px;

  .alexandra-tab--description-actions-color {
    width: 231px;
    background-image: linear-gradient(95.34deg, #5A6FE8 7.87%, #9B51E0 100.96%);
  }

  .alexandra-tab--description-actions-social {
    width: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
  
    svg {
      width: 25px;
      height: 25px;
    }
  }
}

@media screen and (max-width: 700px) {
  .alexandra-tab--description-actions {
    flex-direction: column;
    align-items: center;
  }
}
