.home {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 4.5rem;
}

.home--img img {
  width: 100%;
  height: 100%;
}

.home--card {
  width: 329px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(95.34deg, #5A6FE8 7.87%, #9B51E0 100.96%);
  border-bottom: 12px solid #FFFFFF ;
  border-radius: 1.5rem 0 1.5rem 1.5rem;
  position: absolute;
  right: 83px;
  bottom: 91px;
  color: #FFFFFF;
  cursor: pointer;
}

.home--card__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1.5px;
  margin-bottom: 8px;
  color: #FFE600;
}

.home--card__content {
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  line-height: 22px;
}

.home--card:hover .arrow--inactive {
  display: none;
}
.home--card:hover .arrow--active {
  display: block;
}
