.home.page-layout {
  padding-top: 4.5rem;
  width: 100%;
  height: 100vh;
}

.home--img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 165px);
  margin-bottom: 10px;

  & > span {
    display: flex !important;
    height: 100% !important;

    & span {
      display: none !important;
    }

    & img {
      position: initial !important;
      width: initial !important;
      min-width: initial !important;
      max-width: 100% !important;
      height: initial !important;
      min-height: initial !important;
      max-height: initial !important;
      margin: initial !important;
    }
  }
}

.home--card-container {
  margin: 0 3rem 3rem 0;
  display: flex;
  justify-content: flex-end;
}

.home--card {
  width: 329px;
  padding: 16px;
  background-image: linear-gradient(95.34deg, #5A6FE8 7.87%, #9B51E0 100.96%);
  border-bottom: 12px solid #FFFFFF ;
  border-radius: 1.5rem 0 1.5rem 1.5rem;
  color: #FFFFFF;
  cursor: pointer;
}

.home--card-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 1.5px;
  margin: 0 0 8px 0;
}

.home--card-content {
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 915px) {
  .home.page-layout,
  .home--img {
    height: auto;
  }
  .home--card-container {
    margin: 0 0 1rem 0;
    justify-content: center;
  }
  .home--card {
    padding: 12px;
    pointer-events: none;
  }
  .home--card-title {
    font-size: 0.75rem;
  }
  .home--card-content {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 330px) {
  .home--card {
    width: 260px;
  }
}
