.home {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 4.5rem;
}

.home--img {
  img {
    width: 100%;
    height: 100%;
  }
}

.home--card {
  width: 329px;
  padding: 16px;
  background-image: linear-gradient(95.34deg, #5A6FE8 7.87%, #9B51E0 100.96%);
  border-bottom: 12px solid #FFFFFF ;
  border-radius: 1.5rem 0 1.5rem 1.5rem;
  position: absolute;
  right: 83px;
  bottom: 91px;
  color: #FFFFFF;
  cursor: pointer;

  & .arrow--active {
    display: none;
  }
}

.home--card__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 1.5px;
  margin: 0 0 8px 0;
  color: #FFE600;
}

.home--card__content {
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  line-height: 22px;
  margin: 0;
}

.home--card:hover {
  & .arrow--inactive {
    display: none;
  }
  & .arrow--active {
    display: block;
  }
}

@media screen and (max-width: 915px) {
  .home--img {
    img {
      height: auto;
    }
  }
}

@media screen and (max-width: 500px) {
  .home--card {
    padding: 12px;
    right: initial;
    bottom: 50px;
  }
  .home--card__title {
    font-size: 0.75rem;
  }
  .home--card__content {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 330px) {
  .home--card {
    width: 260px;
  }
}
