.mint-counter--buttons {
  display: flex;
  gap: 20px;

  .mint-counter--button {
    width: 56px;
    height: 56px;
    padding: 0;
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.05);
  }

  .mint-counter--button-selected {
    border: 3px solid #FFFFFF;
    background: #8C58E2;
  }

  .mint-counter--button-disabled {
    opacity: 0.2;
  }
}
