@import '../team/team-card-back/team-card-back.scss';

.team-tab-title {
  margin-bottom: 3rem;
}

.team-tab-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 30px;
}

.team-tab-grid-card {
  .team-tab-grid-card-image {
    border-radius: 1rem 0 1rem 1rem;
  }

  .team-tab-grid-card-role {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .team-tab-grid-card-social {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .team-tab-grid-card-role {
    border-bottom: 1px solid #C4C4C4;
    p {
      font-weight: 600;
      line-height: 24px;
    }
  }

  .team-tab-grid-card-about {
    display: none;
    background-color: transparent;
    border: none;
    box-shadow: none;

    &.Mui-expanded {
      margin: 0;
    }

    .MuiAccordionSummary-root {
      padding: 0;
    }

    .MuiAccordionSummary-expandIconWrapper {
      margin-right: 1rem;
      color: #FFFFFF;
    }

    .MuiAccordionDetails-root {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 789px) {
  .team-tab-grid-card:hover,
  .team-tab-grid-card:active {
    .team-tab-grid-card-front {
      display: none;
    }
    .team-tab-grid-card-back {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 789px) {
  .team-tab-grid-card {
    .team-tab-grid-card-about {
      display: block;
    }
  }
  .team-tab-grid {
    grid-template-columns: 1fr;
  }
  .team-tab-grid-card-social {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
