.alexandra-tab {
  display: flex;
  gap: 40px;
}

.alexandra-tab--description,
.alexandra-tab--image {
  flex: 1;
}

.alexandra-tab--description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.alexandra-tab--image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.alexandra-tab--description__actions {
  display: flex;
  gap: 10px;
}

.alexandra-tab--description__action {
  width: 231px;
  padding: 13px 33px;
  border-radius: 1rem 0 1rem 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.alexandra-tab--description__action--color {
  background-image: linear-gradient(95.34deg, #5A6FE8 7.87%, #9B51E0 100.96%);
}
.alexandra-tab--description__action--clear {
  border: 1px solid #FFFFFF;
}

// NOTE - `gap: 40px` not showing on mobile. Solution is to remove gap and add margin-bottom.
@media screen and (max-width: 1135px) {
  .alexandra-tab {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .alexandra-tab--image {
    margin-bottom: 40px;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .alexandra-tab--description__actions {
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }
}
