.mobile-nav {
  .MuiDrawer-paper {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
    box-sizing: 'border-box';
    padding: 1rem;
  }

  .mobile-nav--close {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & a > span {
      height: 100% !important;
    }

    svg {
      font-size: 2rem;
    }
  }

  .mobile-nav--nav {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

    .mobile-nav--nav-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Work Sans', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.75rem;
      line-height: 22px;
    }
  }

  .mobile-nav--nav-socials {
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    
    .mobile-nav--nav-button {
      padding-top: 2rem;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
