.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 1.5rem 1rem 0;
  z-index: 50;
}

.header--logo {
  img {
    cursor: pointer;
  }
}

.h-button--group {
  background-color: #FFFFFF;
  border-radius: 45px;
}

.h-button {
  background: transparent;
  border: none;
  padding: 4px 8px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  transition: all 0.6s ease;

  &:first-of-type {
    border-radius: 45px 0 0 45px;
    padding-left: 20px;
  }

  &:last-of-type {
    border-radius: 0 45px 45px 0;
    padding-right: 20px;
  }

  &:hover,
  &.h-button-selected {
    cursor: pointer;
    background-image: linear-gradient(91.94deg, #9B51E0 3.46%, #3081ED 96.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &.h-button-selected {
    span:after {
      content:"";
      background-image: linear-gradient(91.94deg, #9B51E0 3.46%, #3081ED 96.46%);
      display: block;
      height: 2px;
      width: 100%;
    }
  }
}

.header--socials {
  .h-button--group {
    display: flex;
    height: 30px;
  }
  .h-button {
    display: flex;
    align-items: center;

    svg {
      fill: #000000;
    }
  }
}

.header--nav-hide {
  display: none;
}
