.team-tab-title {
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 55px;
  letter-spacing: -2px;
}

.team-tab-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 30px;
}

.team-tab-grid__card-image {
  border-radius: 1rem 0 1rem 1rem;
}

.team-tab-grid__card-role,
.team-tab-grid__card-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-tab-grid__card-role {
  border-bottom: 1px solid #C4C4C4;
  p {
    font-weight: 600;
    line-height: 24px;
  }
}

@media screen and (max-width: 600px) {
  .team-tab-title {
    font-size: 2.25rem;
  }
  .team-tab-grid {
    display: flex;
    flex-direction: column;
  }
}
