.lore--content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 40px;

  h2 {
    display: flex;
    flex-direction: column;
  }
}

.lore--content-summary {
  width: 50%;

  p {
    color: #E2E2E2;
    margin: 22px 0;
  }
}

.lore--background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;

  & > span {
    height: 100% !important;
    z-index: -1;
  }
}

@media screen and (max-width: 912px) {
  .lore--content-summary {
    width: 100%;
  }
  .lore--background {
    width: auto;
    height: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 700px) {
  .lore--content.page-layout {
    padding-top: 13rem;
  }
}

