.lore {
  position: relative;
}

.lore--background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.lore--description {
  position: absolute;
  z-index: 1;
  padding: 10rem 5rem 0 5rem;
}

.lore--description__title {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 55px;
}

.lore--description__content {
  width: 50%;
}

.lore--description__content {
  p {
    color: #E2E2E2;
    margin: 22px 0;
  }
}

@media screen and (max-width: 912px) {

  .lore--background {
    width: auto;
    height: auto;
  }
  .lore--description {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }
  .lore--description__title {
    margin-bottom: 40px;
  }
  .lore--description__content {
    width: 100%;
  }
  .lore--description {
    p {
      font-size: 15px;
    }
  }
}

