.arrow-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  width: 2.5rem;
  border-radius: .75rem 0 .75rem .75rem;
}

.arrow {
  margin: .75rem;
  width: 16px;
  height: 16px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(90deg);
  &::after{
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background-color: black;
    transform: rotate(-45deg) translate(6.4px, 2px);
  }
}

.arrow-sliding {
  -webkit-animation: slide 1s linear infinite; 
  animation: slide 1s linear infinite;
}
@-webkit-keyframes slide{
    0% { top: 16px; right: 16px; }	
   25% { top: 18px; right: 18px; }		
   50% { top: 16px; right: 16px; }	
   75% { top: 18px; right: 18px; }
  100% { top: 16px; right: 16px; }
}
@keyframes slide {
    0% { top: 16px; right: 16px; }	
   25% { top: 18px; right: 18px; }		
   50% { top: 16px; right: 16px; }	
   75% { top: 18px; right: 18px; }
  100% { top: 16px; right: 16px; }
}
