.explore--container {
  padding-top: 8rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
}

// left container styles
.container--one {
  width: 60%;

  h2 {
    width: 50%;
  }
}

.container--one .explore--item {
  background: linear-gradient(69.99deg, rgba(45, 60, 103, 0.87) 21.75%, rgba(30, 39, 49, 0) 70.24%);
}

.container--one .explore--item .explore--background {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 120%;
}

.container--one .explore--item-0 .explore--background {
  top: -5rem;
  right: -8rem;
}

.container--one .explore--item-1 .explore--background {
  right: -5rem;
  top: -2rem;
}

// right container styles
.container--two {
  width: 40%;

  h2 {
    width: 80%;
  }
}

.container--two .explore--item {
  background: linear-gradient(51.3deg, rgba(45, 60, 103, 0.87) 25.7%, rgba(30, 39, 49, 0) 81.46%);
}

.container--two .explore--item .explore--background {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
}

.container--two .explore--item-0 .explore--background {
  top: -4rem;
  left: 0;
}

.container--two .explore--item-1 .explore--background {
  left: 0;
  bottom: 0;
  height: 100%;
}

// item card
.explore--item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  margin: 1rem;
  border-radius: 2rem 0 2rem 2rem;
  padding: 2rem;
  overflow: hidden;

  h2 {
    margin: 1rem 0;
    color: #FFFFFF;
  }

  h6 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: #fff;
  }
}

.explore--item-1 {
  margin-top: 2rem;
}

// arrow styles
.explore--arrow-container {
  background-color: #fff;
  width: 2.5rem;
  border-radius: .75rem 0 .75rem .75rem;
}

.explore--arrow {
  margin: .75rem;
  width: 16px;
  height: 16px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(90deg);

  &::after{
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background-color: black;
    transform: rotate(-45deg) translate(6.4px, 2px);
  }
}

// on hover detail styles
.explore--details {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background: linear-gradient(46.94deg, #2D3C67 38.38%, rgba(30, 39, 49, 0) 187.94%);
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 2rem;
  overflow: scroll;

  .explore--arrow-container {
    background: linear-gradient(95.34deg, #5A6FE8 7.87%, #9B51E0 100.96%);
  }

  .explore--arrow-container .explore--arrow {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;

    &::after{
      background-color: #fff;
    }
  }
}

.container--one .explore--details h2 {
  width: 60%;
}

.container--one .explore--details p {
  width: 70%;
}

.container--two .explore--details h2 {
  width: 100%;
}

// accordion styles
.explore--container .explore--item-accordion {
  display: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  box-shadow: none;
  margin: 0 1rem;

  &.Mui-expanded {
    margin: 0 1rem;
  }

  .MuiAccordionSummary-root {
    padding: 0;
  }

  .MuiAccordionSummary-expandIconWrapper {
    margin-right: 1rem;
    color: #FFFFFF;
  }

  p {
    margin: 0;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 0.5px;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &:last-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (min-width: 1001px) {
  .container--one .explore--item-0,
  .container--two .explore--item-1 {
    height: 600px;
  }

  .explore--item:hover .explore--details,
  .explore--item:active .explore--details {
    display: flex;
  }
}

@media screen and (max-width: 1190px) {
  .container--two,
  .container--one {
    h2 {
      width: 100%;
      margin-top: .25rem;
      font-size: 30px;
      line-height: 30px;
    }

    h6 {
      font-size: 12px;
      line-height: 22px;
    }
  }


  .explore--details {
    p {
      width: 100%;
    }
  }

  .container--two {
    .explore--item-0 .explore--background{
      top: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .explore--container {
    flex-direction: column;

    .explore--item-accordion {
      display: block;
    }
  }

  .container--two,
  .container--one {
    width: 100%;

    .explore--item {
      height: 200px;
    }
  }

  .container--one {
    .explore--item .explore--background {
      height: 150%;
    }

    .explore--item-0 .explore--background {
      right: -5rem;
      top: -2rem;
    }
  }

  .container--two {
    .explore--item-0 .explore--background,
    .explore--item-1 .explore--background {
      top: -12rem;
    }

    .explore--item-1 .explore--background {
      height: auto;
    }
  }

  .explore--arrow-container {
    width: 2.25rem;
  }
  

  .explore--arrow {
    width: 12px;
    height: 12px;
  
    &::after{
      height: 16px;
      transform: rotate(-45deg) translate(4.75px, 1px);
    }
  }
}

@media screen and (max-width: 760px) {
  .explore--container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .explore--container {
    padding-top: 5rem;
  }
  
  .container--two {
    .explore--item-0 .explore--background,
    .explore--item-1 .explore--background {
      top: -5rem;
    }
  }
}