.faq {
  padding: 10rem 5rem 0 5rem;

  & * {
    color: #FFFFFF;
  }

	.faq--accordion {
    background-color: transparent;
    border: none;
    box-shadow: none;
    .MuiAccordionSummary-expandIconWrapper {
      margin-right: 1rem;
    }
	}

	.faq--title {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 60px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: -2px;
	}

	h4 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
	}

	p {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #E2E2E2;
  }
}

@media screen and (max-width: 600px) {
  .faq {
    padding: 9rem 2rem 0 2rem;

    .faq--title {
      font-size: 40px;
    }
  }
}